/* LIGHT MODE */
:root {
  --bg: #f5f7fa;
  --surface: #ffffff;
  --card: #ffffff;

  --text: #1a1a1a;
  --text-secondary: #555;

  --border: #e5e7eb;
  --radius: 6px;
  --transition: all 0.3s ease;


  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --danger: #ef4444;

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* DARK MODE */
[data-theme="dark"] {
  --bg: #0f172a;
  --surface: #111827;
  --card: #1f2933;

  --text: #e5e7eb;
  --text-secondary: #9ca3af;

  --border: #2d3748;

  --primary: #3b82f6;
  --primary-hover: #2563eb;

  --danger: #f87171;

  --shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}